body, p, li, td {font: 90%/120% verdana, arial, sans-serif; margin-left:10%; margin-right:10%;}

blockquote {font: 90%/120% verdana, arial, sans-serif; margin-left:15%; margin-right:10%;}

code, pre {font: 100%/120% "courier new", courier, sans-serif; margin-left:10%; margin-right:10%;}

h1, h2 {font: bold 110%/150% verdana, arial, sans-serif; margin-left:10%; margin-right:10%;}

h3, h4, h5, h6 {font: bold 100%/130% verdana, arial, sans-serif; margin-left:10%; margin-right:10%;}

